@page
@model IndexModel
@{
    ViewData["Title"] = "My Ip";
}

<div class="text-center">
    <h1 class="display-5">Ip and your information</h1>
    <div id="ipInfo">
        <div id="ipAddress" class="info-item"><span class="info-title">IP Address:</span> <span class="info-data">@Model.IpApiResponse.IpAddress</span></div>
        <div id="country" class="info-item"><span class="info-title">Country:</span> <span class="info-data">@Model.IpApiResponse.Country</span></div>
        <div id="region" class="info-item"><span class="info-title">Region:</span> <span class="info-data">@Model.IpApiResponse.Region</span></div>
        <div id="city" class="info-item"><span class="info-title">City:</span> <span class="info-data">@Model.IpApiResponse.City</span></div>
        <div id="district" class="info-item"><span class="info-title">District:</span> <span class="info-data">@Model.IpApiResponse.District</span></div>
        <div id="postCode" class="info-item"><span class="info-title">Post Code:</span> <span class="info-data">@Model.IpApiResponse.PostCode</span></div>
        <div id="longitude" class="info-item"><span class="info-title">Longitude:</span> <span class="info-data">@Model.IpApiResponse.Longitude</span></div>
        <div id="latitude" class="info-item"><span class="info-title">Latitude:</span> <span class="info-data">@Model.IpApiResponse.Latitude</span></div>
    </div>
</div>
